<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Project</title>
    <link href="output.css" rel="stylesheet">
    <link href="styles.css" rel="stylesheet">
</head>

<body class="bg-third">
    <%- include('partials/menu') %>

        <% if (PropertyZpid) { %>
            <div class="p-4 bg-third">
                <h2><input type="text" value="<%= PropertyZpid %>" hidden></h2>

                <% if (propertyFirst15.length> 0) { %>
                    <div class="grid grid-cols-5 gap-4" id="photo-grid">
                        <% propertyFirst15.forEach(photo=> { %>
                            <div>
                                <img src="<%= photo %>" alt="Property Photo" class="photo w-full h-auto" />
                            </div>
                            <% }); %>
                    </div>

                    <% if (propertyOtherPhoto.length> 0) { %>
                        <div class="mt-4 fixed bottom-20 right-20 ">
                            <button id="loadmore" name="verified" value="Full"
                                class="w-[160px] text-center py-4 bg-white border-4 border-primary font-black text-primary text-xl tracking-widest rounded-2xl">Load
                                More </button>
                        </div>
                        <% } %>

                            <div class="grid-cols-5 gap-4 hidden mt-4" id="more-photos">
                                <% propertyOtherPhoto.forEach(photo=> { %>
                                    <div>
                                        <img src="<%= photo %>" alt="Property Photo" class="photo w-full h-auto" />
                                    </div>
                                    <% }); %>
                            </div>

                            <% } else { %>
                                <p>No photos available for this property.</p>
                                <% } %>
                                    <form action="/update-verified/<%= PropertyZpid %>" method="post"
                                        class="fixed bottom-20 left-[40%] w-[400px] flex flex-row justify-between">
                                        <button type="submit" name="verified" id="emptyButton" value="Empty"
                                            class="w-[160px] text-center py-4 bg-white border-4 border-primary font-black text-primary text-xl tracking-widest rounded-2xl">Empty
                                            (E)</button>
                                        <button type="submit" name="verified" id="nophotoButton" value="NoPhotos"
                                            class="w-[160px] text-center py-4 bg-primary border-4 border-white font-black text-white text-xl tracking-widest rounded-2xl">No
                                            Photos (N)</button>
                                        <button type="submit" name="verified" id="fullButton" value="Full"
                                            class="w-[160px] text-center py-4 bg-primary border-4 border-white font-black text-white text-xl tracking-widest rounded-2xl">Full
                                            (F)</button>
                                    </form>

                                    <div
                                        class="fixed bottom-20 left-20 w-[160px] text-center py-4 bg-white border-4 border-primary font-black text-primary text-xl tracking-widest rounded-2xl">
                                        <%= totalCount %>
                                    </div>

            </div>

            <script>
                document.addEventListener('keydown', function (event) {
                    if (event.key === 'E' || event.key === 'e' || event.key === 'ArrowLeft') {
                        document.getElementById('emptyButton').click();
                    } else if (event.key === 'F' || event.key === 'f' || event.key === 'ArrowRight') {
                        document.getElementById('fullButton').click();
                    } else if (event.key === 'ArrowDown' || event.key === ' ') {
                        document.getElementById('loadmore').click();
                    } else if (event.key === 'N' || event.key === 'n' || event.ctrlKey) {
                        document.getElementById('nophotoButton').click();
                    }
                });






                // Optional: Ensure the form is submitted with the appropriate action
                document.getElementById('emptyButton').addEventListener('click', function () {
                    var form = document.getElementById('updateForm');
                    form.action = '/update-verified/<%= PropertyZpid %>?verified=Empty';
                    form.submit();
                });

                document.getElementById('fullButton').addEventListener('click', function () {
                    var form = document.getElementById('updateForm');
                    form.action = '/update-verified/<%= PropertyZpid %>?verified=Full';
                    form.submit();
                });

                document.addEventListener('DOMContentLoaded', function () {
                    const loadMoreBtn = document.getElementById('loadmore');
                    const morePhotosDiv = document.getElementById('more-photos');

                    if (loadMoreBtn) {
                        loadMoreBtn.addEventListener('click', function () {
                            // Change the class from hidden to grid
                            morePhotosDiv.classList.remove('hidden');
                            morePhotosDiv.classList.add('grid');

                            // Optionally remove the Load More button if no more photos are available
                            loadMoreBtn.remove();
                        });
                    }
                });


                let spaceKeyPressCount = 0;
                let spaceKeyTimer;

            </script>


            <% } else { %>
                <p class="p-8 bg-third h-screen">No more unverified properties available.</p>
                <% } %>
</body>

</html>